/* Change the color of linked functions and packages to a lighter blue */
[data-bs-theme="dark"] .sourceCode a,
[data-bs-theme="dark"] .sourceCode .fu {
  color: #79b7ff !important;
}

/* Change the color of comments and R output text to a lighter gray */
[data-bs-theme="dark"] .sourceCode .co {
  color: #adb5bd !important;
}

/* Lighten the default text color in the code block */
[data-bs-theme="dark"] .sourceCode {
  color: #e9ecef;
}
